/*img {*/
/*    max-width: 500px;*/
/*}*/

body {
    background-color: #9ea1a8;
    height: 100%;
}

.navbar {
    background-color: #536a78 !important;
}

nav a {
    font-size: 25px !important;
}

.navbar li, a {
    font-family: "Century Gothic", sans-serif !important;
}

.dropdown-menu a {
    color: #283033 !important;
}

.header {
    max-width: 100%;
    position: relative;
    width: 100%;
    height: 900px;
    background-image: url("images/ph10.jpeg");
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header .header_text {
    font-family: "Century Gothic", sans-serif;
    font-size: 30px;
    color: white;
    text-align: left;
    margin-top: 0;
    margin-bottom: 20px;
}

.header .count {
    margin-bottom: 50px;
}

.header .count p {
    font-family: "Century Gothic", sans-serif;
    font-size: 30px;
    color: white;
    margin-bottom: 0px;
}

.header .for_text {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-left: 50px;
}

.header .for_text a {
    font-size: 30px;
}

.header .design_text {
    color: white;
    font-size: 150px;
    margin: 0;
    font-weight: bold;
    opacity: 0.7;
}

.header .btn {
    font-family: "Century Gothic", sans-serif !important;
}

h2 {
    font-family: "Century Gothic", sans-serif !important;
    color: white;
    font-size: 80px;
    text-align: center;
    margin-bottom: 150px;
    margin-top: 200px;
}

.bids h2 {
    margin-bottom: 150px;
    margin-top: 200px;
}

.bids h5 {
    text-align: center;
}

footer {
    background-color: #536a78;
}


footer p {
    color: white;
    font-family: "Century Gothic", sans-serif;
}

footer .title {
    font-family: "Century Gothic", sans-serif;
    padding-top: 30px;
}

footer img {
    width: 60px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: none;
    color: white;
}

.form {
    margin-bottom: 100px;
}

.content {
    margin-bottom: 200px;
}


form label {
    font-family: "Century Gothic", sans-serif;
    font-size: 30px;

}

::placeholder {
    color: peachpuff;
    font-size: 20px;
}

.form-control-file {
    font-size: 20px;
    font-family: "Century Gothic", sans-serif;
}

.form-control {
    font-size: 20px;
}

.delete {
    margin-top: 200px;
}

.form-text {
    font-size: 20px;
}

.form-check-input {
    width: 1.5em !important;
    height: 1.5em !important;
}

.form-check label {
    margin-left: 10px;
}

button {
    font-family: "Century Gothic", sans-serif;
}

.status, .comment, .design {
    margin-bottom: 1rem;
    font-size: 20px;

}

.status {
    font-family: "Century Gothic", sans-serif;
}

.category {
    margin-bottom: 1rem;
}