{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery="slim" %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>{% block title %} Title {% endblock %}</title>
</head>
<body>
<div >
    <ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/design/register">Регистрация</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/design/login">Вход</a>
  </li>
        {% if user.is_authenticated %}
  <li class="nav-item">
    <a class="nav-link" href="/design/logout">Выход</a>
  </li>
         {% endif %}
</ul>
</div>

{% block content %}

{% endblock %}
</body>
</html>