{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery="slim" %}


{% load static %}

{% block title %} Home {% endblock %}
{% block content %}
    <div>
    <div class="header container">
        <div class="row">
        <div class="for_text col-12">
            <p class="design_text">Design.pro</p>
            <p class="header_text">— дизайн-студия <br> по созданию и оформлению <br> интерьеров жилых помещений</p>
            <div class="count d-inline">
                <p class="d-inline text-decoration-underline">Заявок принято в работу: {{ count }}</p>
            </div>
            <div class="d-flex justify-content-start">
                <a class="btn btn-outline-light " href="{% url 'design:createBid' %}" role="button">Создать заявку</a>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="container bids">
        <h2 class="title">Выполненные заявки</h2>
    </div>
    <div class=" container">

        <div class="row row-cols-1 row-cols-md-1 g-4">
            {% if bids %}
                {% for bid in bids %}
                    {% if bid.status == 'completed' %}
                        <div class="col">
                            <div class="card">
                                <img src="{{ bid.img_design.url }}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title text-center fs-1">{{ bid.name }}</h5>
                                    <p class="text-muted fs-4">{{ bid.date }}</p>
                                    <p class="card-text fs-4">Автор: {{ bid.author }}</p>
                                    <p class="card-text fs-2">{{ bid.description }}</p>
                                    <p class="card-text fs-4">Категория: {{ bid.category }}</p>
                                </div>
                            </div>

                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
