{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery="slim" %}


{% load static %}

{% block title %} Profile {% endblock %}
{% block content %}


    <div class="profile">


        <div class="container bids">
            <h2>Выполненные заявки</h2>
        </div>
        <div class=" container">
            <div class="form">
                <form method='get'>
                    {#                    {% csrf_token %}#}
                    <select name=status class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                        <option value=new>Новая</option>
                        <option value=accepted>Принято в работу</option>
                        <option value=completed>Выполнено</option>
                    </select>
                    {% buttons submit='Применить' type='submit' %} {% endbuttons %}
                </form>
            </div>
            <div class="row row-cols-1 row-cols-md-1 g-4">
                {% if bids %}
                    {% for bid in bids %}
                        {% if bid.status == 'completed' %}
                            <div class="col">
                                <div class="card">
                                    <img src="{{ bid.img_design.url }}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title text-center fs-1">{{ bid.name }}</h5>
                                        <p class="text-muted fs-4">{{ bid.date }}</p>
                                        <p class="card-text fs-4">Автор: {{ bid.author }}</p>
                                        <p class="card-text fs-2">{{ bid.description }}</p>
                                        <p class="card-text fs-4">Категория: {{ bid.category }}</p>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>


    <div class="container">
        {% if bids %}
            {% for bid in bids %}
                {% if bid.author == user %}
                    <hr>
                    <h2>{{ bid.name }}</h2>
                    <p>{{ bid.date }}</p>
                    <p>{{ bid.author }}</p>
                    <p>{{ bid.category }}</p>
                    <p>{{ bid.description }}</p>
                    <img src="{{ bid.img.url }}">
                    <p>{{ bid.get_status_display  }}</p>
                    {% if bid.status == 'new' %}
                        <a class="btn btn-primary" href="{% url 'design:deleteBid' pk=bid.id %}" role="button">Удалить</a>
                    {% endif %}
                    <hr>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}