{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery="slim" %}


{% load static %}

{% block title %} Profile {% endblock %}
{% block content %}


    <div class="profile">


        <div class="container bids">
            <h2>Мои заявки</h2>
        </div>
        <div class=" container">
            <div class="form">

                <div class="row">
                    <div class="col-6">
                        <form method='get'>
                            <select name=status class="form-select form-select-lg mb-3"
                                    aria-label=".form-select-lg example">
                                <option value=new>Новая</option>
                                <option value=accepted>Принято в работу</option>
                                <option value=completed>Выполнено</option>
                            </select>
                            <button class="btn btn-secondary fs-5" type='submit'>Применить</button>
                            <a href="{% url 'design:profile' %}" class="btn btn-danger fs-5">Все заявки</a>
                        </form>
                    </div>

                </div>


            </div>
            <div class="row row-cols-1 row-cols-md-1 g-4">
                {% if bids %}
                    {% for bid in bids %}
                        <div class="col">
                            <div class="card">
                                {% if bid.img_design %}
                                    <img src="{{ bid.img_design.url }}" class="card-img-top" alt="...">
                                {% else %}
                                    <img src="{{ bid.img.url }}" class="card-img-top" alt="...">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title text-center fs-1">{{ bid.name }}</h5>
                                    <p class="text-muted fs-4">{{ bid.date }}</p>
                                    <p class="card-text fs-4">Автор: {{ bid.author }}</p>
                                    <p class="card-text fs-2">{{ bid.description }}</p>
                                    <p class="card-text fs-4">Категория: {{ bid.category }}</p>
                                    <p class="card-text fs-4">Статус: {{ bid.get_status_display }}</p>
                                    {% if bid.status == 'new' %}
                                        <a class="btn btn-secondary fs-5" href="{% url 'design:deleteBid' pk=bid.id %}"
                                           role="button">Удалить</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}