{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery="slim" %}


{% load static %}

{% block title %} Home {% endblock %}
{% block content %}

<h1>Администрирование</h1>
{% if bids %}
{% for bid in bids %}
    <hr>
    <h2>{{ bid.name }}</h2>
    <p>{{ bid.date }}</p>
    <p>{{ bid.author }}</p>
    <p>{{ bid.category }}</p>
    <p>{{ bid.description }}</p>
    <img src="{{ bid.img.url }}">
    <p>{{ bid.status }}</p>

    <a class="btn btn-primary" href="/design/{{bid.id}}/updateBid" role="button">Редактировать</a>

    <hr>
{% endfor %}
{% endif %}

{% endblock %}