{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery="slim" %}


{% load static %}

{% block title %} Admin {% endblock %}
{% block content %}

    <h2>Категории</h2>
    <div class="container">


        <a class="btn btn-secondary fs-5 mb-5" href="{% url 'design:createCategory' %} "
           role="button">Создать категорию</a>
        {% if categories %}
            {% for cat in categories %}

                <div class="card category">
                    <div class="card-body">
                        <p class="fs-3">{{ cat.name }}</p>
                        <a class="btn btn-secondary fs-5" href="{% url 'design:deleteCategory' cat.id %}"
                           role="button">Удалить</a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

