{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery="slim" %}


{% load static %}

{% block title %} Admin {% endblock %}
{% block content %}

<h1>Категории</h1>
{% if categories %}
{% for cat in categories %}
    <hr>
    <h2>{{ cat.name }}</h2>
    <a class="btn btn-primary" href="/design/{{cat.id}}/deleteCategory" role="button">Удалить</a>

    <hr>
{% endfor %}
{% endif %}
    <a class="btn btn-primary" href="/design/createCategory" role="button">Добавить категорию</a>
{% endblock %}

