{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery="slim" %}


{% load static %}

{% block title %} Delete Category {% endblock %}
{% block content %}

    <form method="post">
        {% csrf_token %}
        <div class="delete d-flex justify-content-center">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text fs-3">Вы уверены что хотите удалить категорию?</p>
                        <button class="btn btn-secondary fs-4" type="submit">Да</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}