{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery="slim" %}
<script type="text/javascript" src='static/main.js'></script>

{% load static %}

{% block title %} Update bid {% endblock %}
{% block content %}
<h2>Редактировать заявку</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
    <div class="container">
        <select id="select" name='status' class="form-select status" aria-label="Default select example">

            {% if bid.status == 'new' %}
                <option value='new'>Новая</option>
                <option value='accepted'>Принято в работу</option>
                <option value='completed'>Выполнено</option>
            {% endif %}
            {% if bid.status == 'accepted' %}
                <option value='accepted'>Принято в работу</option>
                <option value='completed'>Выполнено</option>
            {% endif %}
            {% if bid.status == 'completed' %}
                <option value='completed'>Выполнено</option>
            {% endif %}
        </select>

        <textarea name="comment" id="comment" class="form-control comment" placeholder="Введите комментарий здесь"></textarea>

        <input type="file" name="img_design" class="form-control design" id="img">

        <button class="btn btn-secondary fs-5 mt-3" type='submit'>Сохранить</button>
    </div>
    </form>

    <script>
        comment = document.getElementById('comment')
        img = document.getElementById('img')
        select = document.getElementById('select')
        comment.style.display = 'none'
        img.style.display = 'none'
        select.onchange = () => {
            let selectedValue = select.options[select.selectedIndex].value
            switch (selectedValue) {
                case 'accepted':
                    comment.style.display = 'block'
                    img.style.display = 'none'
                    comment.required = true
                    break
                case 'completed':
                    img.style.display = 'block'
                    comment.style.display = 'none'
                    img.required = true
                    break
                case 'new':
                    comment.style.display = 'none'
                    img.style.display = 'none'
                    break
                default:
                    break
            }

        }
    </script>
{% endblock %}

